.green {
  color: #1c8a0a;
}

.card-container {
  background: linear-gradient(104.24deg, #eaeae8 8.72%, #d8d4d5 87.33%);
  border: 3px solid #989898;

  border-radius: 11px;
  box-shadow: 6px 8px 6px rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container .info-container {
  padding: 26px;

  display: flex;
  align-items: center;
  justify-self: center;
  gap: 31px;
}

.card-container .info-container ul {
  display: flex;
  flex-direction: row;
  gap: 100px;

  list-style: none;
  margin: 0;
  padding: 0;
}
