---
import "./index.css";
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<div class="card-container">
  <div class="info-container">
    <h1>{title}</h1>
    <p>{description}</p>
  </div>
</div>
