.card-container {
  width: 50%;
  height: 30%;
  border: 5px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.info-container {
  width: 60%;
}
