---
import Layout from "../layouts/Layout.astro";
import "./index.css";
import { Slide } from "../components/Slide/Slide";

const devs = [
  { name: "test", img: "test" },
  { name: "test", img: "test" },
  { name: "test", img: "test" },
];

const controlHandler = (evt: any) => {
  console.log(evt);
};
---

<Layout title="Avengers of code">
  <main>
    <Slide client:visible />
  </main>
</Layout>
