---
import Layout from "../layouts/Layout.astro";
import "./index.css";
import { Slide } from "../components/Slide/Slide";
---

<Layout title="Avengers of code">
  <main>
    <Slide client:visible />
  </main>
</Layout>
